- if (serie_results && serie_results.length)
  table.table.table-striped
    tr
      each item in serie_results[0]
        th #{formatter.standardize(item.field)}
    each result in serie_results
      tr
        each item in result
          td= item.value
