doctype 5
html
  head
    title= title

    // Favicon
    link#stampede-favicon(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")

    // Base CSS
    link(rel="stylesheet", href="/stylesheets/style.css")

    // Bootstrap
    link(rel="stylesheet", href="/external/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/external/bootstrap/css/bootstrap-theme.min.css")
    
    // External libraries
    script(type="text/javascript", src="/external/jquery-2.1.0.min.js")
    script(type="text/javascript", src="/external/bootstrap/js/bootstrap.min.js")

    // D3 visualization
    script(type="text/javascript", src="/external/d3.min.js")

    // Live scripts
    script(type="text/javascript", src="/socket.io/socket.io.js")
    
    // Custom local scripts
    script(type="text/javascript", src="/internal/front.js") 
    
    block head

  body
    #navigation
      block navigation
    .clearer
    #content
      block content
