extends layout

- if (simulator_enabled)
  block head
    script(type='text/javascript', src='/internal/front-simulator.js')

block navigation
  #live-messages
    .content
block content
  - if (simulator_enabled)
    .row.block#simulator-series
      .col-md-12
        h2 Simulation series results
        .content
          .spacer
          p Will be displayed here...