body {
  padding-top: 7em;
  padding-bottom: 7em;
}

#live-messages, #live-simulation-progress {
  padding: 1em;
  position: fixed;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: .5em;
  z-index: 200;
  box-shadow: 0em .25em .5em 0em rgba(0, 0, 0, 0.1);
  bottom: -1em;
}

#content {
  z-index: 100;
}

#live-simulation-progress {
  right: 1em;
}

#live-messages {
  padding-top: 1em;
  max-height: 70px;
  min-width: 600px;
  line-height: 60%;
  overflow: auto;
  float: left;
  left: 1em;
}

#live-messages:hover {
  max-height: 600px;
}

#live-messages {
  font: 80%;
}

.error {
  color: red;
}

.small {
  font-size: 80%;
}

.lefter {
  float: left;
}

.clearer, .spacer {
  width: 100%;
  clear: both;
}

.spacer {
  height: 1em;
}


p b {
  color: #444;
}


a.removal {
  font-weight: normal;
}

.decision-table {
  font-size: 90%;
}

.decision-table .decision_true {
  background-color: seagreen;
}

.decision-table .decision_false {
  background-color: red;
}

.deals .highest {
  color: red;
}

.deals .lowest {
  color: seagreen;
}

.container, .container b {
  font-size: 70%;
  color: #ccc;
}

.simulation-progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

#simulation-progress-bar {
  height: 20px;
  background-color: seagreen;
  float: left;
}

#live-traders .level_1, #live-shares .level_1 {
  padding: .5em;
  margin-bottom: 1em;
  background-color: #eee;
  border: 1px solid #ccc;
}

.axis {
  font-size: 80%;
  color: #ccc;
}

path {
  fill: #0082FF;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #ccc;
  fill: #73BAFF;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}



/* FOR BOOTSTRAP */ 

.btn {
  margin: 5px;
}