body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navigation {
  padding: 1em;
  position: fixed;
  top: -1em;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: .5em;
  box-shadow: 0em .25em .5em 0em rgba(0, 0, 0, 0.1);
}

#navigation button {
  margin: 1em 1em 1em 1em;

}

#live-messages {
  max-height: 70px;
  min-width: 600px;
  line-height: 60%;
  overflow: auto;
  float: right;
}

#live-messages:hover {
  max-height: 600px;
}

#live-messages {
  font: 80%;
}

.block {
  float: left;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  max-height: 500px;
  overflow: auto;
}

.block.inactive {
  color: #ccc;
  background-color: #eee;
}

button {
  padding: 1em;
}

.lefter {
  float: left;
}

.clearer {
  width: 100%;
  clear: both;
}

p b {
  color: #444;
}

table td {
  padding: 1em;
  border: 1px solid red;
}

table {
  border: 1px solid green;
}

.container, .container b {
  font-size: 70%;
  color: #ccc;
}

#live-traders .record, #live-traders .deals .name {
  cursor: pointer;
}

#live-traders .record:hover, #live-traders .deals .name:hover {
  background-color: #FF5300;
}

#live-traders .book, 
#live-traders .title b, 
#live-traders .id_counter, 
#live-traders .book_prefix, 
#live-traders .trader_prefix,
#live-traders .main_list 
{
  display: none;
}

.deals .sub-block {
  font-size: 90%;
  color: #333;
  border: 1px solid #ccc;
  padding: .5em;
  margin-bottom: .5em;
  background-color: #fff;
}

#live-traders .level_1 {
  padding: .5em;
  margin-bottom: 1em;
  background-color: #eee;
  border: 1px solid #ccc;
}

.axis {
  font-size: 80%;
  color: #ccc;
}

path {
  fill: #0082FF;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #ccc;
  fill: #73BAFF;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}